
<form class="form-horizontal">
    <div class="control-group">
	<label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url">
        </div>
        <label class="control-label">{{ _('Text') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.text">
        </div>
        <label class="control-label">{{ _('Colour') }}</label>
        <div class="controls">    
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.colour">
        </div>

        <label class="control-label">{{ _('URL2') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url2">
        </div>
        <label class="control-label">{{ _('Text2') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.text2">
        </div>
        <label class="control-label">{{ _('Colour2') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.colour2">
        </div>
        <label class="control-label">{{ _('URL3') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url3">
        </div>
        <label class="control-label">{{ _('Text3') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.text3">
        </div>
        <label class="control-label">{{ _('Colour3') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.colour3">
        </div>
        <label class="control-label">{{ _('URL4') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.url4">
        </div>
        <label class="control-label">{{ _('Text4') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.text4">
        </div>
        <label class="control-label">{{ _('Colour4') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.colour4">
        </div>
    </div>
</form>
