<a href="#" data-bind="attr: {href: settings.settings.plugins.helloworld.url, style: settings.settings.plugins.helloworld.colour}">
<span data-bind="text: settings.settings.plugins.helloworld.text"> </span> 
</a>

</li>
<li>

<a href="#" data-bind="attr: {href: settings.settings.plugins.helloworld.url2, style: settings.settings.plugins.helloworld.colour2}"> 
<span data-bind="text: settings.settings.plugins.helloworld.text2"> </span> 
</a>
</li>
<li>
<a href="#" data-bind="attr: {href: settings.settings.plugins.helloworld.url3, style: settings.settings.plugins.helloworld.colour3}"> 
<span data-bind="text: settings.settings.plugins.helloworld.text3"> </span> 
</a>
</li>
<li>
<a href="#" data-bind="attr: {href: settings.settings.plugins.helloworld.url4, style: settings.settings.plugins.helloworld.colour4}"> 
<span data-bind="text: settings.settings.plugins.helloworld.text4"> </span> 
</a>
<!-- Ending and starting a List entry because that code is parsed in one and this makes it in one line then.-->
